/*  NOTES
Headings: Bodoni Moda - 400, 500
Body: Martel - 200, 300, 400

color-featured: #183039
*/

* {
	padding: 0;
	margin: 0; 
	box-sizing: border-box;
}

/*  Gridlex reset */
[class*=grid] { 
    padding: 0;
}


/*  Temporary Styles----- */

* {
    border: 2px solid rgb(200,200,200);
}


h1,h2,h3,h4,h5,h6,p, a {
    border: 2px solid rgb(179, 84, 84);
}


/* Reusable utility classes---------*/

/* Padding Utility Classes */ 

.padded { padding: 5%; }
.padded-sm { padding: 2.5%; }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1 { padding: 1rem; }
.padded-2 { padding: 2rem; }

.padded-t { padding-top: 5%; }
.padded-b { padding-bottom: 5%; }
.padded-l { padding-left: 5%; }
.padded-r { padding-right: 5%; }


.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }


.bg-featured { background-color: #183039;  }

.light-text { color: white; } 
.featured-text { color: #183039}

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

/*General typography & universal styles ----------*/

body {
    font-family: 'Martel', serif;
    font-weight: 200;
}

 h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin-bottom: 1.2rem; 
} 

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-family: 'Bodoni Moda', serif;
}

h1 {
    font-size: 10rem;
    line-height: 0.8;
}

h1 span {
    display: block;
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h2 span {
    display: block;
    font-size: 2rem;
    line-height: 0.9;
}

h3 {
    font-size: 2.5rem;
}

p {
    font-weight: 200;
}

/* h1:last-child, 
h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
    margin-bottom: 0;
} */


/* Unique typography styles----  */

.tight-text {
    line-height: 0.8;
  }

.lg-text { font-size: 4.5rem; }
.xl-text { font-size: 6rem; }






/* Header & Footer Styles -------------*/

/* Images & Background Images ------------ */

.bg-image {
    background-color:#183039;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.bg-glass {background-image: url('/images/negroni-glass-faded.jpg') }
.bg-window {background-image: url('/images/negroni-2.jpg') }
.bg-plant {background-image: url('/images/negroni-4.jpg') }
.bg-water {background-image: url('/images/water-light.jpg') }
